# modules
node_modules/

# temp
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# binary
*.exe

# build
build/
dist/
cjs/*
!tsconfig.json
!package.json
esm/*
!tsconfig.json
!package.json

# folders
package/
_*/

# macos
.DS_Store

# secrets
.env
.env.*
!.env.example

